.visible {
  opacity: 1;
  display: block;
  transition: all 0.66s;
<<<<<<< HEAD
  max-height: 125px;
  margin: 30px 35px 25px 15px;
=======
  max-height: 130px;
	margin-bottom: 15px;
	overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-face-color: #000;
  scroll-behavior: smooth;
	/* padding: 20px 30px 10px 0px; */
>>>>>>> dev-func
}

@media screen and (max-width: 1190px) {
  .visible {
    max-height: 120px;
  }
}

@media screen and (max-width: 975px) {
  .visible {
    margin: 30px 15px 20px;
    max-height: 110px;
  }
}

@media screen and (max-width: 635px) {
  .visible {
    margin: 10px 45px 0;
    max-height: 150px;
  }
}
@media screen and (max-width: 455px) {
  .visible {
    margin: 30px 25px 10px;
    max-height: 110px;
  }
}

