.visible {
  opacity: 1;
  display: block;
  transition: all 0.66s;
  max-height: 130px;
	margin-bottom: 15px;
	overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-face-color: #000;
  scroll-behavior: smooth;
	/* padding: 20px 30px 10px 0px; */
}
