.header__link {
  line-height: 1.2;
  margin-bottom: 8px;
  border-style: solid;
  border-width: 2px;
  padding: 6px 10px 6px 18px;
  border-radius: 30px;
  text-decoration: none;
  width: fit-content;
  color: white;
	transition: all 0.75s;
  border: 2px solid white;
}

.header__link:hover {
	background: rgba(255,255,255,0.1);
	font-style: italic;
	transform: scale(1.04);
}

.header__link:after {
  content:'\2197\00FE0E';
	font-style: normal;
	padding-left: 10px;
}

.header__link:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 475px) {
.header__link {
    line-height: 1.25;
    padding: 5px 14px 5px;
    margin-bottom: 6px;
  }
}
