.footer__develop {
  margin: 0;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.375;
}

@media screen and (max-width: 1190px) {
  .footer__develop {
    line-height: 1.47;
  }
}

@media screen and (max-width: 560px) {
  .footer__develop {
    line-height: 1.83;
    margin-bottom: 5px;
  }
}