.description__list {
  font-family: 'Inter', Arial, sans-serif;
  padding: 0;
  max-width: 760px;
}

@media screen and (max-width: 1190px) {
  .description__list {
    line-height: 1.47;
    max-width: 680px;
  }
}

@media screen and (max-width: 830px) {
  .description__list {
    width: 100%;
  }
}
