@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);

.footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px 20px;
}

@media screen and (max-width: 560px) {
  .footer {
    flex-direction: column;
    margin: 10px 5px 20px;
    align-items: center;
  }
}

@media screen and (max-width: 475px) {
  .footer {
    margin: 12px 5px 20px;
  }
}