.header__image {
  max-width: 720px;
}

@media screen and (max-width: 1190px) {
  .header__image {
    width: 600px;
    height: 186px;
  }
}

@media screen and (max-width: 975px) {
  .header__image {
    width: 620px;
    height: 192px;
  }
}

@media screen and (max-width: 635px) {
  .header__image {
    width: 470px;
  }
}

@media screen and (max-width: 812px) and (max-height: 425px) {
  .header__image {
    width: 270px;
    height: 82px
  }
}

@media screen and (max-width: 475px) {
  .header__image {
    max-width: 270px;
    height: 82px;
  }
}
