.button__pause {
  background: url('../../../images/pause.svg') no-repeat 0 9px;
  width: 20px;
  height: 40px;
  transition: all 0.33s;
  flex-shrink: 0;
	left: 15px;
	border: none;
	position: absolute;
}

.button__pause:hover {
  transform: scale(1.15);
}
