.playlist_song {
  font-family: 'Inter', Arial, sans-serif;
  cursor: pointer;
  transition: 0.99s;
  line-height: 1.9;
  border-radius: 10px;
  font-weight: 400;
}

.playlist_song:hover {
	background: rgba(255,255,255,0.075);
  transition-property: background;
  backdrop-filter: blur(8px);
  font-style: italic;
}


@media screen and (max-width: 635px) {
  .playlist_song {
    line-height: 2.5;
  }
}

@media screen and (max-width: 812px) and (max-height: 425px) {
  .playlist_song {
    font-size: 14px;
  }
}

@media screen and (max-width: 812px) and (max-height: 425px) {
  .playlist_song {
    line-height: 1.9;
  }
}