.audioPlayer {
  display: grid;
	margin: 10px 25px 0;
  grid-template-columns: min-content min-content min-content auto auto min-content min-content ;
  grid-template-rows: auto auto;
  gap: 0px 0px;
	margin-top: auto;
  height: auto;
  grid-template-areas:
    "cover cover controls song song buttons toggle"
    "cover cover playlist playlist playlist playlist playlist";
  box-sizing: border-box;
  z-index: 10;
}

.audioPlayer__cover {
	grid-area: cover;
	border-radius: 4px;
  width: 176px;
  height: 176px;
  margin-right: 25px;
	transition: all 0.66s;
}

.audioPlayer__playlist {
  opacity: 0;
	padding-left: 22px;
  display: none;
}

.audioPlayer__cover_invisible {
	height: 0px;
	width: 0;
	opacity: 0;
	transition: all 0.66s;
}

.audioPlayer__controls {
  grid-area: controls;
  padding-right: 20px;
}

.audioPlayer__song {
  grid-area: song;
	margin-right: 10px;
	margin-bottom: 10px;
}

.audioPlayer__buttons {
	grid-area: buttons;
	align-self: flex-start;
  display: flex;
}


.audioPlayer__toggle {
	grid-area: toggle;
  padding-left: 20px;
  outline: none;
}
.audioPlayer__playlist { grid-area: playlist; }

@media screen and (max-width: 1190px) {
  .audioPlayer__cover {
    width: 164px;
    height: 164px;
  }
  .button__video {
    padding: 6px 16px 6px;
	}
}

@media screen and (max-width: 975px) {
	.audioPlayer {
    grid-template-columns: min-content min-content auto auto auto min-content min-content ;
    grid-template-rows: auto auto;
    grid-template-areas:
    "controls song song song song buttons toggle"
		"cover cover playlist playlist playlist playlist playlist";
		margin: auto 14px 0;
  }
  .audioPlayer__cover {
    width: 112px;
		height: 112px;
		margin: 20px 30px 0 35px;
	}
	.audioPlayer__playlist {
		margin: 0;
	}

}

@media screen and (max-width: 635px) {
	.audioPlayer {
		grid-template-columns: min-content auto min-content;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "controls song toggle"
    "cover cover cover"
    ". buttons ."
    "playlist playlist playlist";
  }

  .audioPlayer__cover {
    min-width: 300px;
		margin: 20px auto 20px;
		height: auto;
  }

  .button__video {
    margin: 0;
  }

  .audioPlayer__song {
    margin: auto 14px 0;
  }

  .button__video {
    min-width: 74px;
	}
	.audioPlayer__buttons {
		margin: auto;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 455px) {
	.audioPlayer {
		grid-template-columns: min-content auto min-content;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "controls song toggle"
    "cover cover cover"
    ". buttons ."
    "playlist playlist playlist";
	}

	.audioPlayer__song {
    margin: auto 0 0;
	}

	.audioPlayer__cover {
    min-width: 240px;
		height: auto;
	}
	.audioPlayer__controls {
		padding-right: 14px;
	}
	.audioPlayer__toggle {
		padding-left: 14px;
	}
	.audioPlayer__buttons {
		margin: auto;
	}
}
