.playlist__text {
	color: #fff;
  font-size: 20px;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.35;
  font-style: italic;
  white-space: pre;
  margin: 0;
}

@media screen and (max-width: 1190px) {
  .playlist__text {
  font-size: 18px;
  line-height: 1.44;
  }
}

@media screen and (max-width: 575px) {
  .playlist__text {
    font-size: 14px;
    line-height: 1.36;
    }
}
