.header__button {
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.25;
  padding: 5px 14px 5px;
  margin-bottom: 8px;
  border-radius: 30px;
  flex-shrink: 0;
  width: auto;
  color: #fff;
  border: 2px solid #fff;
  visibility: hidden;
  position: absolute;
  background: transparent;
  top: 0;
  right: 0;
}

@media screen and (max-width: 812px) and (max-height: 425px) {
  .header__button {
    margin: 13px 13px 0;
    visibility: visible;
    font-size: 12px;
    padding: 5px 10px 5px;
  }
}

@media screen and (max-width: 635px) {
  .header__button {
    margin: 13px 13px 0;
    visibility: visible;
  }
}


