.form__field {
  margin-bottom: 10px;
}
.form__field:nth-child(4) {
  margin-bottom: 0;
}
.form__field:nth-child(5) {
  display: flex;
  align-items: center;
  margin: 40px 0 40px;
}

@media screen and (max-width: 475px) {
  .form__field {
    margin-bottom: 6px;
  }
}