.visible-btn {
  opacity: 1;
  transition: all 0.66s;
	visibility: visible;
	display: block;
	border: solid 2px white;
}
.button__visible {
  opacity: 1;
  transition: all 0.66s;
	visibility: visible;
}